@model IEnumerable<Vertice.Models.InventoryModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Character Inventories</h1>

<table class="table">
    <thead class="thead-dark">
        <tr class="d-flex">
            <th class="col-6">@Html.DisplayNameFor(model => model.Character)</th>
            <th class="col-2">@Html.DisplayNameFor(model => model.TotalValue)</th>
            <th class="col-4">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="d-flex">
                <td class="col-6">@Html.DisplayFor(modelItem => item.Character.CharacterName)</td>
                <td class="col-2">@Html.DisplayFor(modelItem => item.TotalValue)</td>
                <td class="col-4">
                    <a asp-action="Edit" asp-route-id="@item.InventoryId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.InventoryId">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
